<div class="banner">
  <div class="black-line-title"></div>
  <div class="container">
    <h1><strong>MUGMUG</strong></h1>
    <h3>Music culture & Arts Consultancy</h3>
    <p>
      We create Concepts, content and enviroments,
      plan and execute events, encounters and convention
      in order to let inspirational things happen
    </p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
