<div class="banner">
  <div class="banner-white-border" data-aos="fade-in" data-aos-duration="3000">
    <div class="banner-logo">
      <%= image_tag "logo-words.png", id:"banner-image" %>
      <div class="white-line-banner-1"></div>
      <div class="white-line-banner-2"></div>
    </div>
  </div>
  <div class="container banner-container" data-aos="fade-in" data-aos-duration="3000">
    <!--<div class="black-line-music"></div>
    <div class="black-line-arts"></div>-->
    <h3>Music Culture & Arts Consultancy</h3>
    <div class="banner-content-white-line"></div>
    <p>
      <span class="banner-p-blue">
        We create concepts, content and enviroments,
        plan and execute
      </span><span class="banner-p-blue">
         events, encounters and convention
        in order to let inspirational things
      </span><span class="banner-p-blue"> happen</span>
    </p>
    <div class="banner-button">
      <%= link_to 'Discover Us', what_path, class:"banner-button-link" %>
      <div class="button-white-line"></div>
    </div>
  </div>
</div>
