<div class="f-wrapper">
  <div class="top-footer">
    <div class="footer-links">
      <ul class="footer-links-left">
        <li><a href=<%= about_path %> target="_blank" class="hover-underline-animation a-hover">About Us</a></li>
        <li><a href=<%= contact_path %> target="_blank" class="hover-underline-animation a-hover">Contact</a></li>
        <li><a href=<%= legal_path %> target="_blank" class="hover-underline-animation a-hover">Legal Disclaimer</a></li>
      </ul>
      <ul>
      </ul>
    </div>
    <!--<div class="vertical-line"></div>-->
    <div class="social-media-links">
      <ul>
        <li><a href="" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="footer-img"></div>
    <div class="footer-text-1 footer-text">
      <p>
        <span class="gray-footer-text">For press inquiries, please contact us at:</span> press@mugmug.me
      </p>
    </div>
    <div class="footer-text-3 footer-text">
      <p>
        <span class="gray-footer-text">All other inquiries, contact:</span>
        contact@mugmug.me
      </p>
    </div>
    <div class="footer-text-4 footer-text">
      <p>
        <span class="gray-footer-text">No copyright intended!</span>
      </p>
    </div>
  </div>
</div>
