<div class="wrapper">
  <div class="wwd-container container">
    <h3>What we do</h3>
    <div class="white-underline"></div>
    <div class="wide-cards-wrapper">
      <div class="wide-card" id="wide-card-1">
        <div class="card-black-back"></div>
        <h2>Cultural Founding</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="wide-card" id="wide-card-2">
        <div class="card-black-back"></div>
        <h2>External Projects Management</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="wide-card" id="wide-card-3">
        <div class="card-black-back"></div>
        <h2>Events</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="wide-card" id="wide-card-4">
        <div class="card-black-back"></div>
        <h2>Content Creation</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</div>