<div class="section-about">
  <div class="about-wrapper">
    <div class="section-title-about container">
      <h3>About Us</h3>
      <div class="bl-about"></div>
    </div>
    <div class="about-text">
      <div class="about-text-whiteborder">
        <p>MUG MUG is a Berlin-based creative agency capitalizing creative work.<br>
           We specialize in creative concepts, specializing in cultural funding, booking, PR, event organization and artist management.<br>
           It serves as an interface between clubs, organisers, galleries and interested individuals burning to work creatively, and works as a hub for DJs, VJs, painters, designers, music journalists, photographers, mag publishers, party organizers and fashion designers alike.<br>
           Born out of the really strong desire to represent people, arts and expressions, MUG MUG helps to promote-enhance-musicalize-design-paint-visualize your art, event or surroundings while our artists help to create logos, score music, art work, flyer art, backdrops and outfits.<br>
           Skills, experience and projects flow together as MUGMUG, simply manifesting in utter expression. The first step from the unknown to the artist.</p>
      </div>
    </div>
  </div>
</div>