<div class="hwd-wrapper">
  <div class="hwd-container container">
    <h2>How we do it</h2>
    <div class="hwd-white-underline"></div>

    <div class="content">

      <div class="section-1">
        <div class="section-title-cf">
          <h3>Cultural Founding</h3>
          <div class="bl-cf"></div>
        </div>
        <div class="content-cf">
          <div class="wide-card-cd">
            <h4>Concept Development</h4>
            <p>Together, we come up with projects which will enrich scene because of their diverse concepts.</p>
          </div>
          <div class="cards-bottom">
            <div class="content-card">
              <h4 class ="content-card-title">Consulting</h4>
              <p class="content-card-text">We review your concept to recommend funding options and review your applications.</p>
            </div>
            <div class="content-card">
              <h4 class ="content-card-title">Strategies</h4>
              <p class="content-card-text">We develop strategies for individual concepts and projects in order to be eligible for funding.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="section-2">
        <div class="section-title-epm">
          <h3>External Project Management</h3>
          <div class="bl-epm"></div>
        </div>
        <div class="content-epm">

          <div class="cards-top">
            <div class="content-card">
              <h4 class ="content-card-title">Project <br>Development</h4>
              <p class="content-card-text">We help you to develop your concepts.</p>
            </div>
            <div class="content-card">
              <h4 class ="content-card-title">Planning and<br>Execution</h4>
              <p class="content-card-text">... and make them work for you from start to finish.</p>
            </div>
          </div>

          <div class="cards-bottom">
            <div class="content-card">
              <h4 class ="content-card-title">Artistic Booking<br>and Management</h4>
              <p class="content-card-text">We take care of the artistry and handle the booking.</p>
            </div>
            <div class="content-card">
              <h4 class ="content-card-title">PR and Press</h4>
              <p class="content-card-text">Custom-made promotion and special writing services.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="section-3">
        <div class="section-title-ev">
          <h3>Events</h3>
          <div class="bl-ev"></div>
        </div>
        <div class="content-ev">
        
          <div class="cards-top">
            <div class="content-card">
              <h4 class ="content-card-title">Creation</h4>
              <p class="content-card-text">We proudly create diverse and exciting events.</p>
            </div>
            <div class="content-card">
              <h4 class ="content-card-title">Planning</h4>
              <p class="content-card-text">We scout locations and know how to get the best equipment and set-up – we know how to make things happen.</p>
            </div>
          </div>

          <div class="cards-bottom">
            <div class="content-card">
              <h4 class ="content-card-title">Realization</h4>
              <p class="content-card-text">All necessary steps for a successful execution managed by MUG.</p>
            </div>
            <div class="content-card">
              <h4 class ="content-card-title">Evaluation</h4>
              <p class="content-card-text">Post-event analysis and sum-up to come back with a vengeance for the next editions.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="section-4">
        <div class="section-title-cc">
          <h3>Content Creation</h3>
          <div class="bl-cc"></div>
        </div>
        <div class="content-cc">
        
          <div class="cards-top">
            <div class="content-card">
              <h4 class ="content-card-title">Music <br>Production</h4>
              <p class="content-card-text">From jingles to entire productions for plays, films, reels, and spots, we create tailormade sound.</p>
            </div>
            <div class="content-card">
              <h4 class ="content-card-title">Podcasts</h4>
              <p class="content-card-text">We create and publish podcast productions.</p>
            </div>
          </div>

          <div class="cards-bottom">
            <div class="content-card">
              <h4 class ="content-card-title">Streams</h4>
              <p class="content-card-text">We make streams happen, and find global solutions for transmitting content.</p>
            </div>
            <div class="content-card">
              <h4 class ="content-card-title">Interventions</h4>
              <p class="content-card-text">Through artistic collabs, we breathe life into your product.</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>