<div class="wrapper">
  <div class="wwd-container container">
    <h3>What we do</h3>
    <div class="white-underline"></div>
    <div class="wide-cards-wrapper">
      <div class="wide-card">
        <div class="card-black-back" id="wide-card-1"></div>
        <h2 class="card-title" id="cf-title">Cultural Founding</h2>
        <p class="card-text" id="cf-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="wide-card">
        <div class="card-black-back" id="wide-card-2"></div>
        <h2 class="card-title" id="epm-title">External Projects Management</h2>
        <p class="card-text" id="epm-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="wide-card">
        <div class="card-black-back" id="wide-card-3"></div>
        <h2 class="card-title" id="ev-title">Events</h2>
        <p class="card-text" id="ev-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="wide-card">
        <div class="card-black-back" id="wide-card-4"></div>
        <h2 class="card-title" id="cc-title">Content Creation</h2>
        <p class="card-text" id="cc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</div>