<div class="wrapper">
  <div class="wwd-container container mobile-border">
    <h3 data-aos="fade-in" data-aos-duration="3000">What we do <br> & <br> How we do it</h3>
    <div class="white-underline" data-aos="fade-in" data-aos-duration="1000"></div>
    
    <div class="wide-cards-wrapper" id="cf-section" data-aos="fade-in" data-aos-duration="3000">
      <div class="wide-card" id="cf-wide-card">
        <div class="card-black-back" id="wide-card-1"></div>
        <h2 class="card-title" id="cf-title">Cultural Founding</h2>
        <p class="card-text" id="cf-text">Moving forward in order to create advanced collective experiences, MUG combines competence with appreciation for the exceptional, integral, interdisciplinary and intersectional.</p>
      </div>
      <div class="section-1">
        <div class="content-cf">
          <div class="wide-card-cd">
            <div class="wide-card-white-border">
              <h4>Concept Development</h4>
              <p>Together, we come up with projects which will enrich scene because of their diverse concepts.</p>
            </div>
          </div>
          <div class="cards-bottom">
            <div class="content-card">
              <div class="card-white-border">
                <h4 class ="content-card-title">Consulting</h4>
                <p class="content-card-text">We review your concept to recommend funding options and review your applications.</p>
              </div>
            </div>
            <div class="content-card">
              <div class="card-white-border">
                <h4 class ="content-card-title">Strategies</h4>
                <p class="content-card-text">We develop strategies for individual concepts and projects in order to be eligible for funding.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wide-cards-wrapper" id="epm-section" data-aos="fade-in" data-aos-duration="3000">
      <div class="wide-card">
        <div class="card-black-back" id="wide-card-2"></div>
        <h2 class="card-title" id="epm-title">External Projects Management</h2>
        <p class="card-text" id="epm-text">Employing alternative concepts, pooling and recycling creative resources, we build long-lasting relationships with entities, clubs, brands and artists.</p>
      </div>
      <div class="section-2">
        <div class="content-epm">

          <div class="cards-top">
            <div class="content-card">
              <div class="card-white-border">
                <h4 class ="content-card-title">Project <br>Development</h4>
                <p class="content-card-text">We help you to develop your concepts...</p>
              </div>
            </div>
            <div class="content-card">
              <div class="card-white-border">
                <h4 class ="content-card-title">Planning &<br>Execution</h4>
                <p class="content-card-text">... and make them work for you from start to finish.</p>
              </div>
            </div>
          </div>

          <div class="cards-bottom">
            <div class="content-card">
              <div class="card-white-border">
                <h4 class ="content-card-title">Artistic Booking<br>& Management</h4>
                <p class="content-card-text">We take care of the artistry and handle the booking.</p>
              </div>
            </div>
            <div class="content-card">
              <div class="card-white-border">
                <h4 class ="content-card-title">PR & Press</h4>
                <p class="content-card-text">Custom-made promotion and special writing services.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wide-cards-wrapper" id="ev-section" data-aos="fade-in" data-aos-duration="3000">
      <div class="wide-card white-border">
        <div class="card-black-back" id="wide-card-3"></div>
        <h2 class="card-title" id="ev-title">Events</h2>
        <p class="card-text" id="ev-text">Skills and experience flow together at MUG, manifesting in utter expression.</p>
      </div>
      <div class="section-3">
        <div class="content-ev">
          <div class="cards-top">
            <div class="content-card">
              <div class="card-white-border">
                <h4 class ="content-card-title">Creation</h4>
                <p class="content-card-text">We proudly create diverse and exciting events.</p>
              </div>
            </div>
            <div class="content-card">
              <div class="card-white-border">
                <h4 class ="content-card-title">Planning</h4>
                <p class="content-card-text">We scout locations and know how to get the best equipment and set-up – we know how to make things happen.</p>
              </div>
            </div>
          </div>
          <div class="cards-bottom">
            <div class="content-card">
              <div class="card-white-border">
                <h4 class ="content-card-title">Realization</h4>
                <p class="content-card-text">All necessary steps for a successful execution managed by MUG.</p>
              </div>
            </div>
            <div class="content-card">
              <div class="card-white-border">
                <h4 class ="content-card-title">Evaluation</h4>
                <p class="content-card-text">Post-event analysis and sum-up to come back with a vengeance for the next editions.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wide-cards-wrapper" id="cc-section" data-aos="fade-in" data-aos-duration="3000">
      <div class="wide-card">
        <div class="card-black-back" id="wide-card-4"></div>
        <h2 class="card-title" id="cc-title">Content Creation</h2>
        <p class="card-text" id="cc-text">We gather talent that loves to work with other forward-thinking, switched-on individuals.</p>
      </div>
      <div class="section-4">
        <div class="content-cc">
          <div class="cards-top">
            <div class="content-card">
              <div class="card-white-border">
                <h4 class ="content-card-title">Music <br>Production</h4>
                <p class="content-card-text" id="music-production-text">From jingles to entire productions for plays, films, reels, and spots, we create tailormade sound.</p>
              </div>
            </div>
            <div class="content-card">
              <div class="card-white-border">
                <h4 class ="content-card-title">Podcasts</h4>
                <p class="content-card-text">We create and publish podcast productions.</p>
              </div>
            </div>
          </div>
          <div class="cards-bottom">
            <div class="content-card">
              <div class="card-white-border">
                <h4 class ="content-card-title">Streams</h4>
                <p class="content-card-text">We make streams happen, and find global solutions for transmitting content.</p>
              </div>
            </div>
            <div class="content-card">
              <div class="card-white-border">
                <h4 class ="content-card-title">Interventions</h4>
                <p class="content-card-text">Through artistic collabs, we breathe life into your product.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>