.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 5em;
}

.logo{
  background-image: url("../../images/logo-words.png");
  background-size: cover;
  background-position: center;
  height: 3em;
  width: 7em;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

