.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 5em;
}

.logo{
  // background-image: url("../../images/logo-words.png"); <----- esta linea esta en javascript/stylesheets/application.scss
  background-size: cover;
  background-position: center;
  height: 5.5em;
  width: 25em;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

