.wrapper {
  height: 120em;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../images/banner-img.png");
  background-position: center center;
  background-repeat: repeat;
  background-size: 30em;
}

.wwd-container {
  position: relative;
}

.wwd-container h3 {
  position: absolute;
  color: white;
  font-family: $roboto;
  font-size: 2.2em;
  font-weight: 600;
  letter-spacing: 0.7em;
  top: 5em;
}

.white-underline {
  background-color: white;
  height: 0.3em;
  position: relative;
  top: 13.9em;
  width: 26em;
}

.wide-cards-wrapper {
  position: absolute;
  top: 20em;
  color: white;
  height: 121em;
}

.card-black-back {
  background-color: black;
  height: 14em;
  width: 60em;
  position: absolute;
}

.wide-card {
  display: flex;
  align-items: center;
}

.card-title {
  position: absolute;
  font-family: "Roboto", "sans-serif";
  font-weight: 700;
  font-size: 3em;
}

.card-text {
  position: absolute;
  width: 26em;
  height: 3em;
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 1.6em;
  line-height: 47px;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;
}

// ----- Cultural Founding--------
#wide-card-1 {
  transform: rotate(4.4deg);
  right: -99em;
  top: 0em;
}

#cf-title {
  top: 0em;
  right: -21.5em;
}

#cf-text {
  left: 35em;
  top: 4em;
}

// ----- External Projects Management--------

#wide-card-2 {
  transform: rotate(-4.4deg);
  left: -18em;
  top: 25em;
}

#epm-title {
  top: 9em;
  right: -13.9em;
}

#epm-text {
  left: -10em;
  top: 20em;
}
// ----- Events--------

#wide-card-3 {
  transform: rotate(4.4deg);
  right: -99em;
  top: 47em;
}

#ev-title {
  top: 15.5em;
  right: -17.5em;
}

#ev-text {
  left: 35em;
  top: 33em
}

// ----- Content Creation--------

#wide-card-4 {
  transform: rotate(-4.4deg);
  left: -18em;
  top: 69em;
}

#cc-title {
  top: 23em;
  right: -13em;
}

#cc-text {
  left: -10em;
  top: 47em;
}