.wrapper {
  height: 200em;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/banner-img.png");
  background-position: center center;
  background-repeat: repeat;
  background-size: 30em;
}

.wwd-container {
  position: relative;
}

.wwd-container h3 {
  position: absolute;
  color: white;
  font-family: $roboto;
  font-size: 2.2em;
  font-weight: 600;
  letter-spacing: 0.7em;
  top: 5em;
}

.white-underline {
  background-color: white;
  height: 0.3em;
  position: relative;
  top: 13.9em;
  width: 26em;
}

.wide-cards-wrapper {
  position: absolute;
  top: 20em;
  color: white;
}

.card-black-back {
  background-color: black;
  height: 14em;
  width: 60em;
  position: absolute;
}

.wide-card {
  display: flex;
  align-items: center;
}
// ----- Cultural Founding--------
#wide-card-1 {
  transform: rotate(4.4deg);
  right: -84em;
  top: 0em;
}

.cultural-founding {
  position: absolute;
  right: -16.5em;
  font-family: "Roboto", "sans-serif";
  font-weight: 700;
  font-size: 3em;
  top: 0em;
}

.cultural-founding-text {
  position: absolute;
  width: 26em;
  height: 3em;
  left: 25em;
  top: 4em;
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 1.6em;
  line-height: 47px;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;
}

// ----- External Projects Management--------

#wide-card-2 {
  transform: rotate(-4.4deg);
  left: -23em;
}

// ----- Events--------

#wide-card-3 {
  transform: rotate(4.4deg);
  right: -23em;
}

// ----- Content Creation--------

#wide-card-4 {
  transform: rotate(-4.4deg);
  left: -23em;
}
